.app {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.move {
  background-color: white;
  border: 1px solid black;
  height: 60px;
  margin: 1px;
  transition: background-color .5s ease;
  width: 60px;
}

.board.won-row0 .row0 .move,
.board.won-row1 .row1 .move,
.board.won-row2 .row2 .move,
.board.won-column0 .move.column0,
.board.won-column1 .move.column1,
.board.won-column2 .move.column2,
.board.won-leftSlant .row0 .move.column0,
.board.won-leftSlant .row1 .move.column1,
.board.won-leftSlant .row2 .move.column2,
.board.won-rightSlant .row0 .move.column2,
.board.won-rightSlant .row1 .move.column1,
.board.won-rightSlant .row2 .move.column0 {
  background-color: mediumseagreen;
}

.board.draw .move {
  background-color: palevioletred;
}

.row {
  display: flex;
}

.logs {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  font-size: 13px;
}

.logs li {
  margin: 5px 0;
}

.startAgain {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 40px;
  border: none;
  margin: 10px 0;
}


@keyframes move-appear {
  from {
    transform: scale(1.9);
  }
  to {
    transform: scale(1);
  }
}

svg {
  animation-name: move-appear;
  animation-duration: .15s;
}